* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
body{
   height : 100%;
   width : 100%;
}

nav{
    margin: 20px;
    background-color: black;
    height: 90px;
    border-radius: 10px;
}
button{
    padding: 10px;
    margin-top: 20px;
 
}
.savedN{
    margin-left: 50px;
    border-radius: 12px;
    background-color: #FFE140;
    color: black;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.newsF{
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.newsDiv{
 
    background-color: lightgrey;
    
  }
  .authorname{
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
   width: 600px;
   justify-content: space-between;

  }
  .categoryName{
    margin-top: 10px;
    display: inline-block;
   
    text-align-last: right;
  }
  .para{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }